@charset "utf-8";
*{
	margin:0;
	padding:0;
	border:0;
	list-style:none;
	outline:none;
	border:0;
}

a{
	cursor:pointer;
}
body, html, table{
	width:640px;
	height:960px;
}

body{
	background:#000;
	color:#000;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	margin-top:0px;
	text-decoration:none;
}

strong{
	font-weight:700;
}

h1{
	font-family:'Arvo';
	font-size:32px;
	margin:10px 20px;
}
h2{
	font-family:'Arvo';
	font-size:28px;
	margin:5px 20px;
	
}
h3{
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	font-size:22px;
	margin:0 20px;
	color:#CC0;
}
p{
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-size:16px;
	margin:5px 20px;
}
	
a.big_button{
	color:#222;
	font-size:30px;
	font-family:'Arvo';
	text-decoration:none;
	text-align:center;
	margin:20px;
	padding:20px 200px;
	background:#CCC;
	border-radius:20px;
}
.clear{
	height:0;
	overflow:hidden;
	clear:both;
}

#container{
	width:640px;
	height:920px;
	margin-top:40px;
	position:relative;
	font-family: 'Open Sans', sans-serif;
	background: url(../img/background1.jpg);
}

#header{
	font-family: 'Open Sans', sans-serif;
	color:#FFF;
	width:640px;
	height:85px;
	font-size:24px;
	
}
#header h1 {
	position:absolute;
	margin-left:170px;
	margin-top:23px;
	font-size:34px;
}

.button_back{
	height:60px;
	width:135px;
	background:url(../img/buttons_03.png) no-repeat;
	position:absolute;
	margin:15px;
}

.button_back a{
	color:#FFF;
	font-weight:700;
	text-decoration:none;
	font-size:24px;
	position: absolute;
	padding:13px 45px;
}


.button_right{
	float:right;
	height:60px;
	width:135px;
	background:url(../img/buttons_05.png);
	margin:15px;
}
.button_right a{
	color:#FFF;
	font-weight:700;
	text-decoration:none;
	font-size:24px;
	position: absolute;
	padding:13px 10px;
}
#wrap{
	width:640px!important;
	height:600px!important;
	margin:0 auto;
	position:absolute;
	left:1px;
	top:120px;
}
.top_paper{
	height:241px;
	width:640px;
	background: url(../img/paper_02.png) no-repeat;
}
ul#selected li{
	height:69px;
	width:640px;
	background: url(../img/paper_03.png) no-repeat;
}
/*
.end_paper{
	position:inherit;
	margin-left:-36px;
	margin-top:110px;
	height:40px;
	width:640px;
	background: url(../img/paper_04.png) no-repeat;
}
*/

.product-head{
	position:absolute;
	top:30px;
	left:30px;
	height:80px;
	width:320px;
}


#form .filterinput{
	background:none;
	font-size:32px;
	color:#000;
	height:60px;
	width:550px;
}

ul#list{
	z-index:200;
	width:560px;
	left:21px;
	position:absolute;
	top:103px;
	background:#EEE;
	padding:20px;
}


ul#list li{
	float:left;
	margin:15px;
	border-radius:30px;
	border:1px solid #555;
	background:#FFF;
	padding:10px 20px;
	font-size:24px;
}

ul#selected{
	z-index:100;
	width:560px;
	left:21px;
	position:absolute;
	top:103px;
	background:none;
	padding:15px;
	margin:0;
}

ul#selected:after{
    content: " ";
	background-image: url('../paper_04.png');
    display: block;


}


ul#selected li{
	margin-left:-36px;
	margin-top:-10px;
	padding:10px 50px 0;
	font-size:28px;
	float:left;
}

a.find{position:absolute;top:765px;left:0px;}
a.find img{width:640px;}


ul#places li{
	height:140px;
	width:640px;
	border-bottom:1px solid #DDD;
	
	background: #bbb; /* for non-css3 browsers */

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#999999'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#999)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #eee,  #999); /* for firefox 3.6+ */}

ul#places a{
	text-decoration:none!important;}
	
	
	ul#places li a .title{
		position:relative;
		font-family:'Arvo';
		font-size:30px;
		text-decoration:none;
		padding:20px 0 0;
		color:#000;
		text-overflow: ellipsis;
    	width: 400px; /* change to your preferences */
    	white-space: nowrap; /* paragraph to one line */
   		overflow:hidden;
	}
	ul#places li a .rating{
		position:relative;
		font-family:'Open Sans', sans-serif;
		font-size:26px;
		text-decoration:none;
		float:left;
		color:#F90;
		text-shadow: -1px -1px #8A5F0D, 1px 1px #FFF;
	}
	
	ul#places li a .reviews{
		position:relative;
		font-family:'Open Sans', sans-serif;
		font-size:24px;
		text-decoration:none;
		float:left;
		margin-left: 20px;
		margin-top:2px;
		color:#333;
	}
	ul#places li img{
		position:relative;
		float:left;
		padding:20px;
		color:#000;
	}

section#deal{display:block;}
section#deal *{display:block;margin:0;}
section#deal hgroup{position:absolute; background-color:rgba(0,0,0,0.7); width:300px; top:20px; left:0px;}
section#deal hgroup *{font-weight:normal;}
section#deal h2{padding:20px;font-size:24px;color:#b4ff01;z-index:1;font-family: 'Arvo', sans-serif; border-bottom:solid 1px rgba(255,255,255,0.3);}
section#deal h3{top:60px;padding:10px 20px;color:#fff;font-size:34px;z-index:3; font-family: 'Arvo', sans-serif;}
section#deal h4{top:90px;padding:0 20px 20px;color:#fff;;z-index:5;font-family: 'Open Sans', sans-serif;font-weight:400;font-size:22px;}
section#deal a{margin:-150px auto;width:640px; height:300px;text-align:center;background-color:transparent; color:#fff;opacity:0.7;text-decoration: none;font-size:20px;padding:10px;}


#wrapper{
	position:absolute;
	width:640px;
	height:825px;
	overflow:scroll;
	top:95px;
	background-color:#666;
}
	
#full-width{
	width:100%;
	height:1300px;
	background:#FFF;
}
#full-width img{
	margin:20px;
	border:5px solid #888;
}

#wrapper{
	position:absolute;
	width:640px;
	height:825px;
	overflow:scroll;
	top:95px;
}

#wrapper1{
	position:absolute;
	width:640px;
	height:825px;
	overflow:hidden;
	top:95px;
}
	
#full-width{
	width:100%;
	height:1700px;
	background:#FFF;
}

#pos1{position:absolute;top:20px;left:20px;}
#pos2{position:absolute;top:20px;left:330px;}
#pos3{position:absolute;top:173px;left:330px;}
#pos4{position:absolute;top:330px;left:20px;}
#pos5{position:absolute;top:740px;left:555px;}




#certifiedorganic{
	background: url(../img/usda.png) no-repeat;
	width:50px;
	height:50px;
	background-size:50px 50px;
	float:left;
}


#certifiednaturallygrown{
	background: url(../img/certifiednatural.png) no-repeat;
	width:50px;
	height:50px;
	background-size:50px 50px;
	float:left;
}




#animalwelfareapproved{
	background: url(../img/animalwelfare.png) no-repeat;
		width:50px;
	height:50px;
		background-size:50px 50px;
		float:left;

}

#grassfed{
	background: url(../img/grassfed.png) no-repeat;
		width:50px;
	height:50px;
		background-size:50px 50px;
		float:left;

}

#pastureraised{
	background: url(../img/pasture.png) no-repeat;
		width:50px;
	height:50px;
		background-size:50px 50px;
		float:left;

}

#nogmos{
	background: url(../img/nogmo.png) no-repeat;
		width:50px;
	height:50px;
		background-size:50px 50px;
float:left;
}

#nosynthetichormones{
	background: url(../img/hormones.png) no-repeat;
		width:50px;
	height:50px;
		background-size:50px 50px;
float:left;
}

#nosyntheticchemicals{
	background: url(../img/synthetic.png) no-repeat;
			width:50px;
	height:50px;
		background-size:50px 50px;
		float:left;
}

#fertilizer{
	background: url(../img/sf.png) no-repeat;
		width:50px;
	height:50px;
	background-size:50px 50px;
	float:left;
}

#noantibiotics{
	background: url(../img/antibiotics.png) no-repeat;
		width:50px;
	height:50px;
	background-size:50px 50px;
	float:left;
}

#csa{
	background: url(../img/csa.png) no-repeat;
		width:50px;
	height:50px;
	background-size:50px 50px;
	float:left;
}

#reviewstar{
	background: url(../img/star.png) no-repeat;
		width:50px;
	height:50px;
	background-size:50px 50px;
	
}

#emptystar{
	background: url(../img/star0.png) no-repeat;
		width:50px;
	height:50px;
	background-size:50px 50px;
}



.farminfo{
	position:relative;
	top:110px;
	font-size: 28px;
	background-color:#FFFFFF;
	opacity:.6;
}

#titletop{
	
	position:relative;
	font-size: 28px;
	background-color:#FFFFFF;
	opacity:.6;
	top:110px;
	
}

#wrap4{
	background-color:#ddd;
	color:#fff;
}

#map{left:20px;}